@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  /* background-color: hsla(0, 0%, 100%, 1) !important;
  background-image: radial-gradient(
      at 2% 1%,
      hsla(32, 100%, 77%, 0.48) 0px,
      transparent 50%
    ),
    radial-gradient(at 3% 86%, hsla(144, 91%, 85%, 1) 0px, transparent 50%),
    radial-gradient(at 40% 20%, hsla(24, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 92% 0%, hsla(189, 82%, 61%, 1) 0px, transparent 50%) !important;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat; */
  font-family: "Poppins", sans-serif;
}

.bg-gradient {
  background-color: hsla(174, 93%, 47%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(76, 68%, 88%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(189, 65%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(164, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(339, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(216, 100%, 77%, 1) 0px, transparent 50%);
}
